<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to "All Bases", bases_path %>
      </li>
      <li>
        <%= link_to "Add New Base", new_base_path %>
      </li>
    </ul>
  </nav>
</aside>
